
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}


header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}


nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  margin: 8px 12px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

nav a:hover{
  background-color: rgb(192, 181, 181);
}


.hero {
  background-image: url("./image/Banner\ for\ CraftOra\ 024.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
}


footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}


@media screen and (max-width: 540px) {

  header {
    padding: 15px;
  }

  header h1 {
    font-size: 1.6rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 6px 0;
    font-size: 1rem;
  }

  .hero {
    height: 250px;
  }

  footer {
    font-size: 0.85rem;
    padding: 15px;
  }
}
